%h1
  =link_to @person.full_name, person_path(:id => @person)
  = ' : '
  =link_to 'Notes', notes_path(:person_id => @person)
  = ' : Detail'
%ul.note
  =labeled_value 'Notable', "#{@note.notable_type} (#{@note.notable_id})"
  =labeled_value 'Text', note_text(@note)
  -userstamp_labeled_values @note
=link_to 'Edit', edit_note_path(:id => @note)

-# Original:

-#   0: h1 do
-#   1:   link_to @person.full_name, person_path(:id => @person)
-#   2:   text ' : '
-#   3:   link_to 'Notes', notes_path(:person_id => @person)
-#   4:   text ' : Detail'
-#   7: ul do
-#   8:   labeled_value 'Notable', "#{@note.notable_type} (#{@note.notable_id})"
-#   9:   labeled_value 'Text', note_text(@note)
-#  11:   userstamp_labeled_values @note
-#  13: link_to 'Edit', edit_note_path(:id => @note)
