-if @day == Time.zone.today
  %div.column-left
    = render :partial => 'visits/person_search'
  %div.column-right
    %h2 In the Shop Today!
    = render :partial => 'visits/day_arrows'
    -if @visits.empty?
      %p.list_status No visits for #{@day.to_s(:db)}.
    -else
      %p.list_status #{@visits.size} visitors.
  %div.column
    = render :partial => 'visits/visits_table'

-else
  %div.column
    %h2 In the Shop on #{date_long(@day)}
    = render :partial => 'visits/day_arrows'
    -if @visits.empty?
      %p.list_status No visits for #{@day.to_s(:db)}.
    -else
      = render :partial => 'visits/visits_table'
