-if @day == Time.zone.today
  %div.column-left
    = render :partial => 'visits/person_search'
  %div.column-right
    %h2 In the Shop Today!
    = render :partial => 'visits/day_arrows'
  -if @visits.empty?
    %p.list_status No visits for #{@day.to_s(:db)}.
    = render :partial => 'visits/day_arrows'
  -else
  %div.column
    %p.list_status #{@visits.size} visitors.
    -[{:key => :patrons, :label => 'Visiting'}, {:key => :volunteers, :label => 'Volunteering'}].each do |group|
      -if @groups[group[:key]].empty?
        -next
      %h3 #{@groups[group[:key]].size} #{group[:label]}
      %table.visits
        -reset_cycle
        -for visit in @groups[group[:key]]
          %tr{:class => cycle('odd','even')}
            %td{:style => 'width:200px;'}
              =link_to(visit.person.full_name, person_path(:id => visit.person))
            %td
              = visit.person.person_type
            %td.time
              = time_short(visit.arrived_at)
            %td.note{:style => 'width:400px;'}
              = note_text(visit.note)
            %td{:style => 'width:30px;'}
              =link_to 'Edit', edit_visit_path(:person_id => visit.person, :id => visit, :destination => day_visits_path)
            %td
              =link_to 'Remove', visit_path(:person_id => visit.person, :id => visit, :destination => day_visits_path), :method => :delete


-else
  %div.column
    %h2 In the Shop on #{date_long(@day)}
    = render :partial => 'visits/day_arrows'
    -if @visits.empty?
      %p.list_status No visits for #{@day.to_s(:db)}.
    -else
      %p.list_status #{@visits.size} visitors.
      -[{:key => :patrons, :label => 'Visiting'}, {:key => :volunteers, :label => 'Volunteering'}].each do |group|
        -if @groups[group[:key]].empty?
          -next
        %h3 #{@groups[group[:key]].size} #{group[:label]}
        %table.visits
          -reset_cycle
          -for visit in @groups[group[:key]]
            %tr{:class => cycle('odd','even')}
              %td{:style => 'width:200px;'}
                =link_to(visit.person.full_name, person_path(:id => visit.person))
              %td
                = visit.person.person_type
              %td.time
                = time_short(visit.arrived_at)
              %td.note{:style => 'width:400px;'}
                = note_text(visit.note)
              %td{:style => 'width:30px;'}
                =link_to 'Edit', edit_visit_path(:person_id => visit.person, :id => visit, :destination => day_visits_path)
              %td
                =link_to 'Remove', visit_path(:person_id => visit.person, :id => visit, :destination => day_visits_path), :method => :delete
