%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %meta{:name => 'viewport', :content => 'initial-scale=1,maximum-scale=1,user-scalable=no'}
    -if @title #defined already
    -elsif @person && !@person.new_record?
      -@title = @person.full_name
    -elsif @organization && !@organization.new_record?
      -@title = @organization.name
    -else
      -@title = "#{params[:controller].singularize.titleize} #{params[:action].titleize}"
    %title #{@title} on Freehub
    = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'
    = javascript_include_tag :all
    = stylesheet_link_tag 'reset-min'
    = calendar_date_select_includes 'silver'
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'form'
    = csrf_meta_tag
    = yield :head
  %body
    %div#application
      %div#header
        %div#user_status
          -if logged_in?
            %span.greeting
              Hello
              %b= link_to current_user.login, edit_user_path(current_user)
            %span.log_out
              = link_to 'Log Out', session_path, :method => :delete
          -else
            %span.sign_up
              =link_to 'Sign Up', new_organization_path
            %span
              |
            %span.log_in
              =link_to 'Log In', new_session_path
        -if flash[:notice]
          %span#notice= flash[:notice]
      %div#application_header_wrapper
        %div#application_nav
          %ul.tabs
            -if @organization && !@organization.new_record?
              = tab_item('Home', organization_path(@organization))
              = tab_item('Visits', today_visits_path(:organization_key => @organization.key))
              = tab_item('Reports', report_path(:action => 'index', :organization_key => @organization.key))
              -if permit? "admin or (manager of :organization)"
                =tab_item('Settings', edit_organization_path(@organization))
            -else
              =tab_item('Home', root_path)
              -if logged_in? && !current_user.organization.nil?
                = tab_item(current_user.organization.name, organization_path(current_user.organization))
        %div#application_header
          -if @organization && !@organization.new_record?
            %h2= link_to @organization.name, @organization
          -else
            %h2 Welcome to #{link_to 'Freehub', root_path}
      %div.content#application_body
        = yield
        %div{:style => 'clear:both;'}
      %div#application_footer
        = "Times shown are #{Time.zone.name} timezone."
    %div#footer
      %div.body
        %div.footer-item
          = link_to 'Freehub', root_path, :id => 'logo'
        %ul.footer-item
          %li Get #{link_to "help or send feedback", "https://github.com/asalant/freehub/wiki/Freehub-Support"}
          %li Check the #{link_to 'project documentation', 'https://github.com/asalant/freehub/wiki'}
        %ul.footer-item
          %li Thanks to #{link_to 'EngineYard', 'http://www.engineyard.com'} for hosting
        %div.footer-item
          =image_tag("ey-logo.gif")
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-16200053-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
